pkgbase = codebuddy-ide-cn
	pkgdesc = 腾讯云代码助手CodeBuddy IDE，是一款辅助编码工具。
	pkgver = 4.10.1.33158423
	pkgrel = 1
	url = https://github.com/JipZeonGit/codebuddy-ide-cn-linux
	arch = x86_64
	license = LicenseRef-Tencent-CodeBuddy
	depends = gtk3
	depends = nss
	depends = libxss
	depends = alsa-lib
	depends = libsecret
	depends = libxkbfile
	conflicts = codebuddy-cn-ide
	conflicts = codebuddycn-ide
	options = !strip
	options = !debug
	source = codebuddy-cn_4.10.1.33158423_amd64.deb::https://download.codebuddy.cn/aiide/linux-x64/CodeBuddy-linux-x64-4.10.1.33158423-3ad58bcb-cn.deb
	source = LICENSE.notice
	sha256sums = 838fe89a19f2cac23c02aab67bf5cb34e613323cd47cb811588a3d90d4fe4398
	sha256sums = b3260549a765c478dc33680c7b9a1a30e5a038456e340d6d25f7748390724241

pkgname = codebuddy-ide-cn
